@define-color bg_panel_color rgba(0, 0, 0, 1);

.xfce4-panel {
  font-family: "Cantarell Regular";
  font-size: 13px;
  background-color: @bg_panel_color;
}

.xfce4-panel widget {
  background-color: @bg_panel_color;
}

.xfce4-panel widget button.flat {
  background-color: @bg_panel_color;
}

.xfce4-panel widget button.flat.toggle {
  background-color: @bg_panel_color;
}

.tasklist button {
  background-color: @bg_panel_color;
}

/* check ~/.themes/Nordic-darker/gtk-3.0/gtk.css */
.tasklist button:checked {
  background-color: @BLACK_700;
}

.xfce4-panel widget grid button.flat.toggle {
  box-sizing: content-box;
  color: #5e81ac;
  font-size: 16px;
  padding: 6px 2px 2px 2px;
  background-color: @bg_panel_color;
}

.xfce4-panel widget grid button.flat.toggle:checked {
  all: unset;
  font-family: "Cantarell Regular";
  font-size: 16px;
  color: #d8dee9;
  font-weight: bold;
  padding: 6px 2px 2px 2px;
  box-sizing: content-box;
  background-color: @bg_panel_color;
}
